<!-- <div>
  <% @lists.each do |list| %>
    <% if list.picture %>
      <% list.picture.each do |pic| %>
        <img width="100" src="<%= pic.url %>">
      <% end %>
    <% end %>
  <%= list.title %>
  <%= list.content %>
  <%= link_to 'Show', list %>
  <% end %>
</div> -->
<section class="s-content">
    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="grid-sizer"></div>
            <% @lists.each do |list| %>
                <article id="list-<%= list.id %>" class="masonry__brick entry format-standard" data-aos="fade-up">
                    <div class="entry__thumb">
                        <a href="<%= list_path(list.id) %>" class="entry__thumb-link">
                            <% if list.picture == [] %>
                                <img src="assets/placeholder.png" srcset="assets/placeholder.png 1x, assets/placeholder.png 2x" alt="">
                            <% else %>
                                <% list.picture.each do |pic|%>
                                    <img src="<%= pic.url %>">
                                <% end %>
                            <% end %>
                        </a>
                    </div>
                    <div class="entry__text">
                        <div class="entry__header">
                            
                            <div class="entry__date">
                                <a href="single-standard.html">December 15, 2017</a>
                            </div>
                            <h1 class="entry__title"><a href="single-standard.html"><%= list.title %></a></h1>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                               <%= list.content %>
                            </p>
                            <button onclick="del('<%= list.id %>')">Delete</button>
                        </div>
                    </div>
                </article>
            <% end %>
        </div>
    </div>
</section>
<h2>hello world</h2>
<!-- 
<div id="preloader">
    <div id="loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</di -->