<!DOCTYPE html>
<html>
  <head>
    <title>Idea</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    
    <link rel="stylesheet" href="assets/base.css">
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="assets/1.js"></script>
    <script src="assets/2.min.js"></script>
  </head>
  <style>
      #profile_pic {
        width: 60px;
        height: 50px;
        border: 2px solid white;
        border-radius: 50%
      }
  </style>
  <body id="top" style="background-color: black">
    <div class="s-pageheader">

        <header class="header">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="index.html">
                        <% if current_user == nil %>
                            <i class="fa fa-smile-o" style="color: white; font-size: 5rem" aria-hidden="true"></i>
                        <% else %>
                            <img id="profile_pic" src="<%= current_user.picture %>" alt="Profile Picture">
                            <h6 style="margin-top: 0;margin-bottom: 0;color: white">Welcome <%= current_user.name %></h6>
                        <% end %>
                        <!-- <img src="assets/logo.svg" alt="Homepage"> -->
                    </a>
                </div> <!-- end header__logo -->

                <ul class="header__social">
                    <li>
                        <a href="#0"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    </li>
                    <li>
                        <a href="#0"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                    </li>
                </ul> <!-- end header__social -->

                <a class="header__search-trigger" href="#0"></a>

                <div class="header__search">
                    <%= form_with(url: '/search', class: 'header__search-form') do %>
                    <!-- <form role="search" method="get" class="header__search-form" action="#"> -->
                        <label>
                            <span class="hide-content">Search for:</span>
                            <input type="search" class="search-field" placeholder="Type Keywords" value="" name="s" title="Search for:" autocomplete="off">
                        </label>
                        <input type="submit" class="search-submit" value="Search">
                    <!-- </form> -->
                    <% end %>
                    <a href="#0" title="Close Search" class="header__overlay-close">Close</a>
                </div>  <!-- end header__search -->
                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
                <% if current_user %>
                    <nav class="header__nav-wrap" style="margin-top: 0">
                        <ul class="header__nav">
                            <li><a href="<%= root_path %>" title="">Home</a></li>
                            <li class="has-children">
                                <a href="#0" title="">Topics</a>
                                <ul class="sub-menu">
                                  <li><a href="category.html">School</a></li>
                                  <li><a href="category.html">Technology</a></li>
                                  <li><a href="category.html">Education</a></li>
                                </ul>
                            </li>
                                <li class="has-children">
                                    <a href="#0" title="">Profile</a>
                                    <ul class="sub-menu">
                                    <li><a href="<%= sign_in_path %>">Edit Profile</a></li>
                                    <li><a href="<%= sign_out_path %>">Sign Out</a></li>
                                    </ul>
                                </li>
                        </ul> <!-- end header__nav -->
                        <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
                    </nav> <!-- end header__nav-wrap -->
                <% else %>
                    <nav class="header__nav-wrap">
                        <ul class="header__nav">
                            <li><a href="<%= root_path %>" title="">Home</a></li>
                            <li class="has-children">
                                <a href="#0" title="">Topics</a>
                                <ul class="sub-menu">
                                  <li><a href="category.html">School</a></li>
                                  <li><a href="category.html">Technology</a></li>
                                  <li><a href="category.html">Education</a></li>
                                </ul>
                            </li>
                                <li class="has-children">
                                    <a href="#0" title="">Login / Register</a>
                                    <ul class="sub-menu">
                                    <li><a href="<%= sign_in_path %>">Login</a></li>
                                    <li><a href="<%= sign_out_path %>">Register</a></li>
                                    </ul>
                                </li>
                        </ul> <!-- end header__nav -->
                        <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
                    </nav> <!-- end header__nav-wrap -->
                <% end %>
            </div> <!-- header-content -->
        </header> <!-- header -->
    </div> <!-- end s-pageheader -->

  <% if current_user %>
    <!-- <a href="<%= user_list_path(current_user.id) %>">All List</a>  -->
    <!-- <a class="glyphicon glyphicon-user" href="/sign_out">Sign Out</a> -->
  <% else %>
    <!-- <a class="glyphicon glyphicon-user" href="/sign_in">Sign Up</a> -->
    <!-- <a href="/sign_up">Sign Up</a> -->
    <!-- <a href="/auth/google_oauth2">Google</a> -->
  <% end %>
    <%= yield %>
    <!-- preloader
================================================== -->
<div id="preloader">
    <div id="loader">
        <div class="line-scale">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <script src="assets/3.min.js"></script>
    <script src="assets/4.js"></script>
    <script src="assets/5.js"></script>
  </body>
</html>
